body {
    display: flex;
    justify-content: center;
}

.third {
    width: 30%;
    height: 100%;
    background-color: crimson;
}

.rest {
    width: 70%;
    height: 100%;
}

.leftDivMargin {
    margin-left: 10%;
    margin-right: 10%;
}

.contactMargin {
    margin-left: 5%;
    margin-right: 10%;
}

img {
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 5%;
}

.bisqColor {
    color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.darkerColor {
    color: #f0a5ac;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.pBorder {
    border: 2px solid #f0a5ac;
    border-radius: 12px;
    padding: 5px;
}