    body {
        display: flex;
        justify-content: center;
        font-family: cursive;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .third {
        width: 30%;
        background-color: crimson;
    }
    
    .rightDiv {
        width: 70%;
    }
    
    .leftDivMargin {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .contactMargin {
        margin-left: 5%;
        margin-right: 10%;
    }
    
    .listMargin {
        margin-left: 2%;
    }
    
    img {
        border-radius: 20%;
        display: block;
        margin: auto;
        width: 50%;
        margin-top: 5%;
    }
    
    .bisqColor {
        color: bisque;
    }
    
    .darkerColor {
        color: #f0a5ac;
    }
    
    h1,
    h3 {
        color: crimson;
    }
    
    .titleMargin {
        margin-left: 3%;
    }
    
    th {
        padding-right: 2%;
        padding-left: 1%;
        text-align: left;
    }
    
    td {
        padding-left: 2%;
        padding-right: 2%;
    }
    
    tr:hover {
        background-color: #f0a5ac;
    }
    
    .fa-envelope,
    .fa-linkedin,
    .fa-instagram {
        margin-left: 5%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    h1:hover,
    h2:hover,
    h3:hover {
        transform: translate(10px, -10px) scaleY(1.2);
    }
    
    img:hover {
        transform: scale(1.1);
    }
    
    ul.a {
        list-style-type: circle;
    }
    
    .info {
        margin: auto;
        text-align: center;
        width: 20%;
    }
    
    .upperDiv {
        height: auto;
        display: flex;
        justify-content: center;
    }
    
    .leftUp {
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    
    .skills>div {
        border: 1px solid crimson;
        border-radius: 5px;
        margin: auto;
        background-color: #f0a5ac;
        padding: 0.5%;
    }
    
    .skills {
        display: flex;
        flex-wrap: wrap;
    }
    
    .shrink {
        flex-shrink: 0;
    }